/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@mixin centering {
  max-width: 1080px;
  margin: 0 auto;
}

body {
  margin: 0;
}

#main {
  @include centering;
}

header {
  height: 50px;
  width: 100%;
  background: #000;

  #header-container {
    @include centering;

    #title {
      font-weight: bold;
      font-size: xx-large;
      color: #fff;
    }
  }
}

footer {
  height: 50px;
  width: 100%;

  #footer-container {
    @include centering;
  }
}
